<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="w-full h-full bg-zinc-900">
    <div>
      <div class="flex justify-center mt-20 mb-20">
        <h1 class="text-white font-semibold text-5xl">Update Section...</h1>
      </div>
      <a class="text-red-500 font-semibold my-20 mx-20" href="/read"> Back</a>
      <div>
        <form
          class="flex gap-5 ml-20 mt-10"
          action="/create/<%=user._id %>"
          method="post"
        >
          <input
            class="py-2 pl-2 rounded-md"
            type="text"
            name="name"
            value="<%=user.name %>"
          />
          <input
            class="py-2 pl-2 rounded-md"
            type="text"
            name="email"
            value="<%=user.email %>"
          />
          <input
            class="py-2 pl-2 rounded-md"
            type="text"
            name="age"
            value="<%=user.age %>"
          />
          <input
            class="py-2 pl-2 rounded-md"
            type="text"
            name="imageurl"
            value="<%=user.imageurl %>"
          />
          <button
            class="h-10 w-20 bg-blue-700 text-white font-semibold rounded-md"
            type="submit"
          >
            Update
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
